In [1]:
import pandas as pd
import numpy as np
import altair as ap
import plotly.express as pe


import math
import random

In [2]:
car_ad = pd.read_csv('../CloudServiceDash/vehicles_us.csv')

In [6]:
car_ad.head(5)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

Next I'll be correcting the data

In [20]:
#filing all nan values with unknown
car_ad = car_ad.fillna('Unknown')

#change the model year values to ints
car_ad['model_year'] = car_ad['model_year'].apply(lambda x: int(x) if x != 'Unknown' else x)

#changing odemeter values to ints
car_ad['odometer'] = car_ad['odometer'].apply(lambda x: int(x) if x != 'Unknown' else x)

#correcting the values in the is_4wd to read yes and no instead of 1.0 and Unknown
car_ad['is_4wd'] = car_ad['is_4wd'].replace({1.0: 'yes', 'Unknown': 'no'})

car_ad['cylinders'] = car_ad['cylinders'].apply(lambda x: int(x) if x != 'Unknown' else x)

In [22]:
car_ad.head(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011,bmw x5,good,6,gas,145000,automatic,SUV,Unknown,yes,2018-06-23,19
1,25500,Unknown,ford f-150,good,6,gas,88705,automatic,pickup,white,yes,2018-10-19,50
2,5500,2013,hyundai sonata,like new,4,gas,110000,automatic,sedan,red,no,2019-02-07,79
3,1500,2003,ford f-150,fair,8,gas,Unknown,automatic,pickup,Unknown,no,2019-03-22,9
4,14900,2017,chrysler 200,excellent,4,gas,80903,automatic,sedan,black,no,2019-04-02,28
5,14990,2014,chrysler 300,excellent,6,gas,57954,automatic,sedan,black,yes,2018-06-20,15
6,12990,2015,toyota camry,excellent,4,gas,79212,automatic,sedan,white,no,2018-12-27,73
7,15990,2013,honda pilot,excellent,6,gas,109473,automatic,SUV,black,yes,2019-01-07,68
8,11500,2012,kia sorento,excellent,4,gas,104174,automatic,SUV,Unknown,yes,2018-07-16,19
9,9200,2008,honda pilot,excellent,Unknown,gas,147191,automatic,SUV,blue,yes,2019-02-15,17